{% extends 'content_base.html.twig' %}

{% block content_body %}

    <h1>All Articles</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Published?</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author }}</td>
                <td>
                    <span class="fa fa-{{ article.isPublished ? 'check' : 'times' }}"></span>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
